.grid {
  min-height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;

  &.no-item {
    .mdl-grid {
      display: none;
    }
  }

  .mdl-grid {
    min-height: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;

    .mdl-cell {
      backface-visibility: hidden;
      transition: transform 500ms ease-out, opacity 500ms ease-out;

      &.grid-item-enter {
        opacity: 0;
        transform: translate3d(-20px, 0, 0);
        pointer-events: none;

        &.grid-item-enter-active {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }

      &.grid-item-leave {
        opacity: 1;
        pointer-events: none;

        &.grid-item-leave-active {
          opacity: 0;
        }
      }
    }

    .mdl-card {
      height: 200px;
      width: auto;
      border-radius: 5px;

      &__title {
        .ad {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: -1;
        }
      }

      &__actions {
        height: 72px;
        padding: 16px;
        background-color: rgb(178, 235, 242);
        display: flex;
        align-items: center;

        &.ad {
          background-color: rgba(0,0,0,0.6);
          color: rgb(255, 255, 255);
        }

        &--title > div {
          padding: 4px;
        }

        .mdl-button--fab {
          margin: 0;
          top: -34px;
          position: relative;
        }
      }
    }
  }

  .loading {
    display: none;
    padding: 16px 0 16px 0;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.05);
    width: calc(100% - 32px);
    margin: 0 16px 16px;

    &.is-fetching {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .mdl-spinner {
      width: 56px;
      height: 56px;
    }

    .mdl-typography--title-color-contrast {
      padding-top: 32px;
    }
  }

  .end-of-catalogue {
    display: none;
    padding: 32px 0 32px 0;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.05);
    width: calc(100% - 32px);
    margin: 0 16px 16px;

    &.is-end {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
